body {
	background-color:#F0F0F0;
	font-family: "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;
	font-size:14px;
	color:#777;
}
#container {
    background-color:#FFFFFF;
    border:1px solid #F0F0F0;
	max-width:900px;
    margin:2px auto;
}
#header {
	background-color:#FFFFFF;
	margin:10px;
	padding:30px 10px 30px 10px;
	border-top:2px solid #ccc;
    border-bottom:2px solid #ccc;
}
#header h1 {
	text-align:center;
	font-family:Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
	font-size:30px;
	color:#333;
	margin:0;
	font-weight:normal;
}
#header h1 strong {
	color:#3366CC;
}
#header h1 a {
	color:#333;
	text-decoration:none;
}
#header h2 {
	font-size:16px;
	font-weight:normal;
	text-align:center;
	color:#999;
}
#header ul {
	margin:10px;
	padding:2px;
}
#header li {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}
#header li a {
	display:block;
	padding:7px;
	color:#999;
	text-decoration:none;
	margin:0 10px 0 0;
	font-size:14px;
    /*border-color:#E8E8E8;
    border-top:1px solid;
    border-bottom:1px solid;*/
}
#header li a:hover {
	color:#000;
    background-color:#E8E8E8;
	padding:5px 7px 7px 7px;
}
/*#header li a.current {
    background-color:#E0E0E0;   
}*/
#header li a em {
	font-style:normal;
	text-decoration:underline;
}

#sidebar {
	float:right;
    position:relative;
	width:230px;
	margin:10px 10px 10px 2px;
}

#sidebar h1 {
	font-family:Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	margin:10px 5px 2px 10px;
}
#sidebar h1 a {
	color:#000;
	text-decoration:none;
	display:block;
	background-position:right;
}
#sidebar h1 a:hover {
	color:#444;
}
#sidebar h2 {
	font-family:Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	margin:10px 5px 2px 10px;
}
#sidebar p {
	padding:5px;
	margin:5px 5px 5px 10px;
	line-height:17px;
	word-spacing:-1px;
}
#sidebar .box {  
    padding:2px;
    background-color:#F0F0F0;
    border:1px solid #ccc;
	margin:0px 2px 20px 10px;
}
ul.submenu {
    font-size:11px;
	margin:2px;
	padding:2px;
}
ul.submenu ul {
    padding-left:4px;    
}
.submenu li {
	margin:0;
	padding:0;
	list-style:none;
}
.submenu a {
    color:#999;
	display:block;
	height:13px;
	padding:7px 7px 7px 17px;
	margin:1px 0 0 0;
	background-color:#F0F0F0;
}
/*.submenu a.current {
    background-color:#E0E0E0;   
}*/
.submenu a:hover {
    color:#000;
	background-color:#E8E8E8;
	padding:7px 7px 7px 15px;
}
.submenu a:focus {
	background-position:bottom;
	background-color:#F0F0F0;
	padding:7px 7px 7px 15px;
}
.submenu a:active {
	background-color:#F0F0F0;
	padding:7px 7px 7px 15px;
}

#content {
	margin:10px 245px 10px 10px;
}
#content .box {  
    padding:10px;
    background-color:#F0F0F0;
    border:1px solid #ccc;
	margin:20px 5px 20px 5px;
}
#content h1 {
	font-family:Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
	font-size:16px;
	border-bottom:1px solid #ccc;
	padding:2px;
	color:#000;
}
#content h1 a {
	color:#000;
	text-decoration:none;
	display:block;
	background-position:right;
}
#content h1 a:hover {
	color:#444;
}
#content h2 {
	font-size:14px;
	color:#2F4F4F;
	padding:1px;
}
#content p {
	padding:5px;
	line-height:18px;
	word-spacing: 0.1em;
}
#content .article_menu {
	text-align:right;
    font-style: italic;
	padding:2px;
	margin:1px;
	border-top:1px solid #eee;
}
#content .article_menu b {
	float:left;
	font-weight:normal;
}
#content .article_menu a {
	padding:0 0 0 15px;
	color:#333;
	text-decoration:none;
}
#content p a {
	color:#333;
	text-decoration:none;
}

#content p:hover a {
	border-bottom:1px dotted #000;
}
#content p:hover a:hover {
	border-bottom:1px solid #000;
}
#content .article_menu a:hover {	
	color:#000;
}
#content ul {
	margin:0 0 0 15px;
	padding:0;
}
#content li {
	margin:5px 0 5px 0;
	padding:0 0 5px 20px;
	list-style:none;
	color:#999;
}
#content blockquote {
    font-size:15px;
    /*font-style:italic;*/
	background-color:#f6f6f6;
	margin:4px;
	padding:5px;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
#content blockquote {
	margin:2px;
	padding:10px 12px 10px 12px;
}
#content code pre {   
	background-color:#F8F8F8;
	padding:5px;
	line-height:18px;
	word-spacing: 0.1em;
}
#content img {
    display:block;    
    padding:2px;
    height:200px;
}
#content img.left {
    margin-right:auto;
}
#content img.right {
    margin-left:auto;
}
#content img.center {
    margin-left:auto;
    margin-right:auto;
}
#content iframe {
    padding:2px;
    height:auto;
    width:100%;
    aspect-ratio:16/9;
    border:none;
}
input, textarea {
	background-color:#F0F0F0;
	border:1px solid #ccc;
	padding:3px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#777;
}
#footer {
	background-color:#FFFFFF;
    margin:10px;
	padding:30px 10px 30px 10px;
	text-align:center;
	border-top:2px solid #ccc;
	border-bottom:2px solid #ccc;
}

a {
	color:#333;
	text-decoration:none;
}
a:hover {
	background-color:#E8E8E8;
	padding:2px 2px 2px 2px;   
}

/*
Normal light gray: F0F0F0
Slightly darker light gray: E8E8E8
*/
