<div id="sidebar">
    <div class="box">
        <h1>Sitemap</h1>
        <ul class="submenu">
            <li><a href="" class="current"><b>Home</b></a></li>
            <ul id="nav">
                <li><a href="#Welcome">Welcome</a></li>
                <li><a href="#Example-Post">Example Post</a></li>
                <li><a href="#Super-Long-Title">Super Long Title...</a></li>
            </ul>
            <li><a href="Page-1.html"><b>Page 1</b></a></li>
            <li><a href="#"><b>Another Page 2</b></a></li>
        </ul>
    </div>
</div>